  .latest-release{
    color:white;
    padding: 4px;
    display:flex;
  }
    .bestinsports{
      color:white;
      padding: 4px;
      display:flex;
    }

    .comedy{
      color:white;
      padding: 4px;
      display:flex;
    }

    .kids{
      color:white;
      padding: 4px;
      display:flex;
    }

    .latestrelease{
      color:white;
      padding: 4px;
      display:flex;
    }

    .comingsoon{
      color:white;
      padding: 4px;
      display:flex;
    }

    .action{
      color:white;
      padding: 4px;
      display:flex;
    }